html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

li {
    margin: 0px;
    padding: 0px;
    background-color: rgb(235, 235, 255);
    border-color: black;
    border: 4px;
}

.t-container {
    width: 80%;
    height: 720px;
}

.t-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.t-text {
    border-style: solid;
    border-color: black;
    border: 4px;
    display: flex;
    width: 20%;
    text-align: center;
    padding: 2%;
}

.t-list {
    width: 100%;
    height: 50%;
    overflow-y: scroll;
}

.t-btn {
    width: 75px;
    height: 25px;
    display: flex;
    justify-self: end;
    align-items: center;
    text-align: center;
}

.t-dark {
    background-color: rgb(25, 25, 25);
    color: white;
    font-weight: bold;
}

.SucesoList {
    display: block;
    align-items: center;
    width: 100vw;
    justify-content: center;
    padding: 10px;
    text-align: center;
}
.SucesoTitulo {
    text-align: center;
    font-size: 25px;
    width: 100vw;
}
.SucesoDescripcion {
    text-align: center;
    font-size: 14px;
    width: 100vw;
}
.navBar-wrapper {
    display: block;
    background-color: dimgray;
}
.logo {
    font-size: 2rem;
    font-weight: bolder;
    background-color: darkcyan;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
        'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 1%;
}
.navBar {
    display: flex;
    justify-content: space-around;
    background-color: teal;
}
.navBar-item {
    color: white;
    padding: 1% 0;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
        'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.navBar-item:hover {
    text-decoration: underline;
    background-color: darkcyan;
}
